<div class="erro" style="text-align:center">
    <h3>Erro inesperado!</h3>
    <h3>Erro inesperado!</h3>
    <h3>Erro inesperado!</h3>
    <h3>Erro inesperado!</h3>
    <h3>Erro inesperado!</h3>
    <h3>Erro inesperado!</h3>
    <h3>Erro inesperado!</h3>
    <h3>Erro inesperado!</h3>
    <h3>Erro inesperado!</h3>
    <h3>Erro inesperado!</h3>
    <h3>Erro inesperado!</h3>
    <h3>Erro inesperado!</h3>
    <h3>Erro inesperado!</h3>
    <h3>Erro inesperado!</h3>
    <h3>Erro inesperado!</h3>
    <h3>Erro inesperado!</h3>
    <h3>Erro inesperado!</h3>
    <h3>Erro inesperado!</h3>
    <h3>Erro inesperado!</h3>
    <h3>Erro inesperado!</h3>
    <h3>Erro inesperado!</h3>
    <h3>Erro inesperado!</h3>

</div>