html {

}
body {

}
.content {
    min-height: calc(60vh - 70px);
}

/* Set padding to keep content from hitting the edges */
.body-content {
    height: 100%;
    margin: 0;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 500px;
}

h2{
    text-align: center;
}

.carhome {
    height: 500px;
    max-height: 500px;
    width: 100%;
    max-width: 100%;
}


.auth {
    /*width: 100vw;
    height: 100vh;*/
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.login {

    
    padding:0 30% 0 35%;
    justify-content: center;
}